@model Data_Passing_Techniques.Models.Person

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Another</title>
</head>
<body>
    <div>
        <h2>Response from another action method</h2>
        <h3>Welcome @Model.Name</h3>
        <h3>Email: @Model.Email</h3>

    </div>
</body>
</html>
