@model Data_Passing_Techniques.Models.Person

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>F1</title>
</head>
<body>
    <div> 
        Username: @Model.Username
        <br/>
        Hobby: @Model.Hobby
    </div>
</body>
</html>
