<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post">
            <table>
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="UserName" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" /></td>
                </tr>
                <tr>
                    <td>Hobby</td>
                    <td><input type="text" name="hobby" /></td>
                </tr>
                @*<tr>
                    <td>Food</td>
                    <td><input type="text" name="favouriteFood" /></td>
                </tr>*@
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>

        </form>
    </div>
</body>
</html>
